<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>

      <span><a style="text-decoration: none;" [routerLink]="['/']">Shopping</a></span>

      <span class="example-spacer"></span>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['/cart']">
        <mat-icon matBadge="{{ cartCount }}" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>
      
    </mat-toolbar>
  </p>